$phones-mini: 320px;
$phones: 400px;
$phones-big: 565px;
$tablets: 767px;
$tablets-big: 991px; 
$desktop: 1199px;
$full-hd: 1440px;

$black: #000; 
$white: #FFF;
$dark-peach: #7396d4;
$dark-peach2: #608ab1;
$main-font-color: #212529;
$light-gray: #6c767d;
$light-gray2: #E5E5E5;
$gray: #495057;
$gray2: #7f7f7f;
$dark-gray: #343A40;
$dark-gray2: #2b3035;
$hashtag-color: #1DA1F2;
$hashtag-color-bg: #aeddfb;
$header-transparent-color: rgba(0, 0, 0, 0.2);

$main-font-name: 'Lora';
$main-font-name2: 'Roboto';
$logo-font: 'Prompt';